PG_HOST=localhost
PG_PORT=5432
PG_DB=its
PG_USER=postgres
PG_PASSWORD=postgres

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=vehicle_data
KAFKA_GROUP_ID=vehicle_aggregation_group
KAFKA_STARTUP_MODE=earliest-offset
